body {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
}

pre{
    border-radius: 10px;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    display: block;
    word-wrap: break-word;
    background: red;
}

#menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#create_post_button {
    position: fixed; 
    bottom: 50px;    
    right: 50px;   
    height: 90px;    
    width: 90px;
    border-radius: 50%;
    background: url("/create_post") no-repeat center center; 
    background-size: 130px 130px;
    background-position-y: -22px;
    background-position-x: -19px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); 
    border: none; 
    cursor: pointer; 
    z-index: 1000; 
    transition: all 0.3s ease;
}

#create_post_button:hover {
    transform: scale(1.1);
    background-color: #f1f1f1;

}

.vote_container{
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    flex-direction: row;
}

.upvote_container, .downvote_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 50px;
    height: 20px;
    background-color: rgb(234, 234, 234);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.upvote_container:hover, .downvote_container:hover{
    background-color: rgb(79, 79, 192);
    color: var(--white);
}

.upvote_text, .downvote_text{
    width: 30px;
    height: 30px;
    font-size: 25px;
    font-weight: bold;
    
}

#subjectsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 10px;
}

.all_subjects_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    margin: 50px;
    padding: 10px;
    width: 200px;
    height: 250px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.category_cards{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    padding: 10px;
    width: 210px;
    height: 260px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.category_title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 25px;
    font-weight: bold;

}

.category_description{
    font-size: 15px;
    margin: 20px;
}


#returnButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 10px;
    width: 200px;
    height: auto;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.clickable_container{
    cursor: pointer;
}

.question{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    width: 700px;
    height: auto;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.question:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(234, 234, 234);
}

.question_count, .question_count_all{
    position: absolute;
    margin-left: 220px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    width: 50px;
    height: 50px;
    border-radius: 180px;
    background-color: var(--darkblue);
    font-size: 20px;
    font-weight: bold;
}

.question_title{
   font-size: 25px;
}

.question_description{
    font-size: 18px;
    color: rgb(61, 61, 61);
}

.question_content{
    font-size: 18px;
    margin-left: 5px;
}

.question_creation_date{
    color: var(--gray);
    font-size: 13px;
    margin-left: 5px;
}

.question_creator{
    color: var(--gray);
    font-size: 13px;
    margin-left: 5px;
}

.creator_and_date_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--gray);
    font-size: 13px;
}

.creator_name{
    color: red;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
}

.subject_tag {
    background-color:rgb(79, 79, 192); /* Light grey background */
    width: fit-content;
    color: #ffffff; /* Dark text color */
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block; /* Or 'block' depending on layout preference */
}

#create_post_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 700px;
    height: 750px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

#black_background{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.699);
    z-index: 1000;
    animation: fadeIn 0.3s;
}

#cross{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    top: 15px;
    right: 20px;
    width: 100px;
    height: 50px;
    color: gray;
    cursor: pointer;
}

#cross:hover{
    color: red;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes threeSixty {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}