version: '3.8'

services:
  app:
    build: .
    ports:
      - "80:80"
      - "443:443"
      - "587:587"
    depends_on:
      - db
      - certbot
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_TYPE: postgres
      DB_USER: codequarry
      DB_PASSWORD: CQ1234
      DB_NAME: codequarrydb
      URL: codequarry.dev
    volumes:
      - img_data:/root/public/img
      - certs:/etc/letsencrypt

  db:
    image: postgres:13
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: codequarrydb
      POSTGRES_USER: codequarry
      POSTGRES_PASSWORD: CQ1234
    volumes:
      - postgres_data:/var/lib/postgresql/data

  certbot:
    image: certbot/certbot
    volumes:
      - certs:/etc/letsencrypt
      - certbot_data:/var/lib/letsencrypt
    entrypoint: ["sh", "-c", "trap 'exit 0' TERM; while :; do certbot certonly --standalone -d codequarry.dev --email maxime.diet76@gmail.com --agree-tos --non-interactive --keep; cp -r /etc/letsencrypt/live/codequarry.dev /etc/letsencrypt/live/cert; sleep 12h & wait $${!}; done"]

volumes:
  postgres_data:
  img_data:
  certs:
  certbot_data:
