version: '3.8'
networks:
  codequarry:

services:
  app:
    build: .
    networks:
      - codequarry
    ports:
      - "80:80"
      - "443:443"
      - "587:587"
    depends_on:
      - db
    environment:
      DB_HOST: db
      
    volumes:
      - img_data:/root/public/img
      # Path on host to cert folder
      - ./cert:/root/cert

  db:
    image: postgres:13
    #ports:
    #  - "5432:5432"
    environment:
      POSTGRES_DB: codequarrydb
      POSTGRES_USER: codequarry
      POSTGRES_PASSWORD: CQ1234
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgresql_config/pg_hba.conf:/var/lib/postgresql/data/pg_hba.conf
    networks:
      - codequarry
volumes:
  postgres_data:
  img_data:
