version: '3.8'
networks:
  codequarry:

services:
  app:
    build: .
    networks:
      - codequarry
    ports:
    #Use of nginx on the vps redirections 80 to 8080 and 443 to 8443 
      - "8080:80"
      - "8443:443"
      - "587:587"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_TYPE: postgres
      DB_PORT: 5432

    volumes:
      - img_data:/root/public/img
      # Path on host to cert folder
      - ./cert:/root/cert
      - ./audit.log:/root/audit.log

  db:
    image: postgres:13
    environment:
      POSTGRES_DB: codequarrydb
      POSTGRES_USER: codequarry
      POSTGRES_PASSWORD: CQ1234
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgresql_config/pg_hba.conf:/var/lib/postgresql/data/pg_hba.conf
      - ./postgresql_config/postgresql.conf:/var/lib/postgresql/data/postgresql.conf
      - ./postgresql_config/server.crt:/var/lib/postgresql/data/server.crt
      - ./postgresql_config/server.key:/var/lib/postgresql/data/server.key
    networks:
      - codequarry
volumes:
  postgres_data:
  img_data:
