version: '3.8'

services:
  app:
    build: .
    ports:
      - "80:80"
      - "443:443"
      - "587:587"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_TYPE: postgres
      DB_USER: codequarry
      DB_PASSWORD: CQ1234
      DB_NAME: codequarrydb
      URL: codequarry.dev
    volumes:
      - img_data:/root/public/img
      - certs:/etc/letsencrypt

  db:
    image: postgres:13
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: codequarrydb
      POSTGRES_USER: codequarry
      POSTGRES_PASSWORD: CQ1234
    volumes:
      - postgres_data:/var/lib/postgresql/data

  certbot:
    image: certbot/certbot
    volumes:
      - certs:/etc/letsencrypt
      - certbot_data:/var/lib/letsencrypt
    entrypoint: ["/bin/sh", "-c", "trap 'exit 0' TERM; while :; do sleep 6h & wait $$!; done"]

volumes:
  postgres_data:
  img_data:
  certs:
  certbot_data:
