{{define "panel"}}
<!DOCTYPE html>
<html>
{{template "head" .}}
<body>
    <div id="all_users">
        {{range .Users}}
        <div class="user">
            <div class="user_avatar">
                {{if .Avatar.Valid}}
                <img src="{{.Avatar.String}}" alt="User avatar" width="100" height="100" />
                {{else}}
                <img src="default_avatar.png" alt="Default avatar" width="100" height="100" />
                {{end}}
            </div>
            <div class="user_details">
                <input class="input-field" type="text" value="{{.FirstName}} {{.LastName}}" /><br>
                <input class="input-field" type="text" value="@{{.Username}}" /><br>
                <input class="input-field" type="email" value="{{.Email}}" /><br>
                <textarea class="textarea-field">{{if .Bio.Valid}}{{.Bio.String}}{{else}}Not provided{{end}}</textarea><br>
                <input class="input-field" type="url" value="{{if .Website.Valid}}{{.Website.String}}{{end}}" /><br>
                <input class="input-field" type="url" value="{{if .GitHub.Valid}}{{.GitHub.String}}{{end}}" /><br>
                <input class="input-field" type="number" value="{{if .XP.Valid}}{{.XP.Int64}}{{else}}0{{end}}" /><br>
                <input class="input-field" type="text" value="{{if .Rank.Valid}}{{.Rank.String}}{{else}}Unranked{{end}}" /><br>
                <input class="input-field" type="date" value="{{if .SchoolYear.Valid}}{{.SchoolYear.Time}}{{end}}" /><br>
                <button data-user-id="{{.ID}}">Edit</button>
                <button data-user-id="{{.ID}}">Delete</button>
            </div>
        </div>
        {{end}}
    </div>
    <div id="all_subjects">
        {{range .Subjects}}
        <div class="subject" data-subject-id="{{.Id}}">
            <input class="input-field" type="text" value="{{.Title}}" /><br>
            <textarea class="textarea-field">{{.Description}}</textarea><br>
            <input class="input-field" type="text" value="{{.CreationDate}}" /><br>
            <input class="input-field" type="text" value="{{.UpdateDate}}" /><br>
            <button  onclick=editSubject({{.Id}})>Edit</button>
            <button >Delete</button>
        </div>
        {{end}}
        <div id="add_subject">
            <input class="input-field" type="text" placeholder="Title" /><br>
            <textarea class="textarea-field" placeholder="Description"></textarea><br>
            <button onclick=addSubject()>Add</button>
        </div>
    </div>
    <div id="all_questions">
        {{range .Questions}}
        {{$Id:=.Id}}
        <div class="question" data-question-id="{{.Id}}">
            <input class="title input-field" type="text" value="{{.Title}}" /><br>
            <textarea class="description textarea-field">{{.Description}}</textarea><br>
            <textarea class="content textarea-field">{{.Content}}</textarea><br>
            <input class="input-field" type="text" value="{{.CreationDate}}" /><br>
            <input class="input-field" type="text" value="{{.UpdateDate}}" /><br>
            <input class="input-field" type="number" value="{{.Upvotes}}" style="width: 50px;">, <input class="input-field" type="number" value="{{.Downvotes}}" style="width: 50px;"><br>
            <button  onclick=editQuestion({{.Id}})>Edit</button>
            <button >Delete</button>
       
            <div class="all_responses">
                <h5>Responses:</h5>
                {{range .Responses}}
                <div class="response" data-response-id="{{.ResponseID}}">
                <textarea class="response-content textarea-field" data-response-id="{{.ResponseID}}">{{.Content}}</textarea>
                <input class="input-field" type="text" value="{{.Description}}" /><br>
                <input class="input-field" type="text" value="{{.CreationDate}}" /><br>
                <input class="input-field" type="text" value="{{.UpdateDate}}" /><br>
                <input class="input-field" type="number" value="{{.UpVotes}}" style="width: 50px;">, <input class="input-field" type="number" value="{{.DownVotes}}" style="width: 50px;"><br>
            
                
                <button onclick=editResponse({{.ResponseID}},{{$Id}})>Edit</button>
                <button >Delete</button>
                </div>
                {{end}}
            </div>
   
        </div>
        {{end}}
    </div>
    {{template "script" .}}
    <script src="/scripts/panel.js"></script>
</body>
</html>
{{end}}

