.show_button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    margin: 50px;
    padding: 10px;
    width: 200px;
    height: 250px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 999;
}

.show_button:hover{
    transform: scale(1.1);
    background-color: #f1f1f1;
}

.panel_all_div{
    
    display: flex !important; /* Override display none with important if it's initially set in your HTML */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    transition: opacity 0.5s linear;
    opacity: 0;
    height: 0;


}

.visible {
    opacity: 1;
    height: auto; /* Adjust the height as necessary */
}

.subject{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    margin: 50px;
    padding: 10px;
    width: 200px;
    height: 250px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.user{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    margin: 50px;
    padding: 10px;
    width: 200px;
    height: 350px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}