{{define "panel"}}
<!DOCTYPE html>
<html>
  {{template "head" .}}
  <body>
    {{template "header" .}}
    <button class="show_button" id="show_all_users">Users</button>
      <div class="panel_all_div" id="all_users" style="display: none;">
        <input id="search_bar_users"></input>
        <button onclick="searchUsers()">Search</button>
        <div class="all_users_cards">
        {{range .Users}}
        <div class="user" style="display: none;">
          <div class="user_avatar">
            {{if .Avatar.Valid}}
            <img
              src="{{.Avatar.String}}"
              alt="User avatar"
              width="100"
              height="100"
            />
            <button onclick="deleteAvatar({{.ID}},this)">X</button>
            {{else}}
            <img
              src="default_avatar.png"
              alt="Default avatar"
              width="100"
              height="100"
            />
            {{end}}
          </div>
          <div class="user_details" data-user-id="{{.ID}}">
            <input
              class="input-field"
              type="text"
              value="{{.FirstName}} "
            /><br />
            <input
              class="input-field"
              type="text"
              value="{{.LastName}}"
            /><br />
            <input
              class="input-field"
              type="text"
              value="@{{.Username}}"
            /><br />
            <input class="input-field" type="email" value="{{.Email}}" /><br />
            <textarea class="textarea-field">
{{if .Bio.Valid}}{{.Bio.String}}{{else}}Not provided{{end}}</textarea
            ><br />
            <p>Email {{if .EmailVerified}}is verified{{else}}not verified <button onclick="ResendEmail('{{.Email}}')">Resend Email</button>{{end}}</p>
            <input
              class="input-field"
              type="url"
              value="{{if .Website.Valid}}{{.Website.String}}{{end}}"
            /><br />
            <input
              class="input-field"
              type="url"
              value="{{if .GitHub.Valid}}{{.GitHub.String}}{{end}}"
            /><br />
            <input
              class="input-field"
              type="number"
              value="{{if .XP.Valid}}{{.XP.Int64}}{{else}}0{{end}}"
            /><br />
            <!-- Replace rank input with a select dropdown -->
            <select class="input-field" name="rank_panel">
              <option value="0" {{if eq .Rank_Panel.Int64 0}}selected{{end}}>
                User
              </option>
              <option value="1" {{if eq .Rank_Panel.Int64 1}}selected{{end}}>
                Moderator
              </option>
              {{if eq $.Rank_Panel.Int64 2}}
              <option value="2" {{if eq .Rank_Panel.Int64 2}}selected{{end}}>
                Admin
              </option>
              {{end}}
            </select>
            <br />
            <input class="input-field" type="date" value="{{if
            .SchoolYear.Valid}}{{.SchoolYear.Time.Format "2006-01-02"}}{{end}}"
            /><br />
            <button onclick="editUser({{.ID}})">Edit</button>
            {{if eq $.Rank_Panel.Int64 2}}
            <button onclick="deleteUser({{.ID}},this)">Delete</button>
            {{end}}
          </div>
          <br />
        </div>
        {{end}}
        </div>
      
    </div>
    <button class="show_button" id="show_all_subjects">Subjects</button>
    <div class="panel_all_div" id="all_subjects" style="display: none;">
      <input id="search_bar_subjects"></input>
      <button onclick="searchSubjects()">Search</button>
      <div class="all_subjects_cards">
      {{range .Subjects}}
      <div class="subject" style="display: none;" data-subject-id="{{.Id}}">
        <input class="input-field" type="text" value="{{.Title}}" /><br />
        <textarea class="textarea-field">{{.Description}}</textarea><br />
        <input class="input-field" type="date" value="{{.CreationDate.Format
        "2006-01-02"}}" /><br />
        <input class="input-field" type="date" value="{{.UpdateDate.Format
        "2006-01-02"}}" /><br />
        <button onclick="editSubject({{.Id}})">Edit</button>
        <button onclick="deleteSubject({{.Id}},this)">Delete</button>
      </div>
      <br />
      {{end}}
      <div class="subject" id="add_subject">
        <input class="input-field" type="text" placeholder="Title" /><br />
        <textarea class="textarea-field" placeholder="Description"></textarea
        ><br />
        <button onclick="addSubject()">Add</button>
      </div>
      </div>
    </div>
    <button class="show_button" id="show_all_questions">Questions</button>
    <div class="panel_all_div" id="all_questions" style="display: none;">
      <input id="search_bar_questions"></input>
        <button onclick="searchQuestions()">Search</button>
      <div class="all_questions_cards">
      {{range .Questions}} {{$Id:=.Id}}
      <div class="question" style="display: none;" data-question-id="{{.Id}}">
        <input class="title input-field" type="text" value="{{.Title}}" /><br />
        <textarea class="description textarea-field">{{.Description}}</textarea
        ><br />
        <textarea class="content textarea-field">{{.Content}}</textarea><br />
        <input class="input-field" type="date" value="{{.CreationDate.Format
        "2006-01-02"}}" /><br />
        <input class="input-field" type="date" value="{{.UpdateDate.Format
        "2006-01-02"}}" /><br />
        <input
          class="input-field"
          type="number"
          value="{{.Upvotes}}"
          style="width: 50px"
        />
        <button onclick="addOneUpVoteQuestion({{.Id}})">+</button>
        <button onclick="removeOneUpVoteQuestion({{.Id}})">-</button>
        <input
          class="input-field"
          type="number"
          value="{{.Downvotes}}"
          style="width: 50px"
        />
        <button onclick="addOneDownVoteQuestion({{.Id}})">+</button>
        <button onclick="removeOneDownVoteQuestion({{.Id}})">-</button>
        <br />
        <button onclick="editQuestion({{.Id}})">Edit</button>
        <button onclick="deleteQuestion({{.Id}},this)">Delete</button>
        <button onclick="showResponses({{.Id}})">Responses</button>
        <div class="all_responses panel_all_div" data-response-id="{{.Id}}" style="display: none;">
          <h5>Responses:</h5>
          {{range .Responses}}
          <div class="response question" data-response-id="{{.ResponseID}}" style="display: none;">
            <textarea
              class="response-content textarea-field"
              data-response-id="{{.ResponseID}}"
            >
{{.Content}}</textarea
            >
            <input
              class="input-field"
              type="text"
              value="{{.Description}}"
            /><br />
            <input class="input-field" type="date" value="{{.CreationDate.Format
            "2006-01-02"}}" /><br />
            <input class="input-field" type="date" value="{{.UpdateDate.Format
            "2006-01-02"}}" /><br />
            <input
              class="input-field"
              type="number"
              value="{{.UpVotes}}"
              style="width: 50px"
            />
            <button onclick="addOneUpVoteResponse({{.ResponseID}})">+</button>
            <button onclick="removeOneUpVoteResponse({{.ResponseID}})">
              -
            </button>
            <input
              class="input-field"
              type="number"
              value="{{.DownVotes}}"
              style="width: 50px"
            />
            <button onclick="addOneDownVoteResponse({{.ResponseID}})">+</button>
            <button onclick="removeOneDownVoteResponse({{.ResponseID}})">
              -
            </button>
            <br />

            <button onclick="editResponse({{.ResponseID}},{{$Id}})">
              Edit
            </button>
            <button onclick="deleteResponse({{.ResponseID}},{{$Id}},this)">
              Delete
            </button>
          </div>
          {{end}}
        </div>
      </div>
      {{end}}
      </div>
    </div>
    {{template "script" .}}
    <script src="/scripts/panel.js"></script>
  </body>
</html>
{{end}}
