{{define "codeQuarry"}}

<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
    {{template "header" .}}
    <pre><code>
        const x = 100;
        let y = 'Hello, world!';
        console.log(x, y);
        </code></pre>
        
    <ul id="subjectsList"></ul>
    <div id="questionsList" style="display: none;"></div>
    <div id="create_post_button"></div>
    <div id="returnButton">Retour</div>
    
</body>
<script src="../scripts/subjects.js"></script>
<script src="../scripts/posts.js"></script>
{{template "script" .}}
</html>
{{end}}