@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
    --darkblue: #000513;
    --white : #FFF;
    --light-gray: #EEE;
}
* {
    font-family: "Inter", sans-serif;
}
body{
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
/* ---------------------------- Main block ---------------------------- */
#mainBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 500px;
    background-color: var(--white);
}
.CQ-logo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: url("/logo");
    background-size: cover;
    margin-bottom: 20px;
}
.Title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    user-select: none;
}
.code-quarry{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.description{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
#login-register-buttons{
    display: flex;
    gap: 30px;
}
#login-button, #login, #loginRedirect{
    height: 40px;
    width: 140px;
    border-radius: 20px 20px 20px 0;
    background-color: var(--white);
    border: solid 3px var(--darkblue);
    font-size: 1.2em;
    font-weight: 600;
    transition: 0.2s all ease-out;
}
#login-button:hover, #login:hover, #loginRedirect:hover {
    cursor: pointer;
    transform: scale(1.05);
}
#register-button, #registerRedirect, #registerSubmit{
    height: 40px;
    width: 140px;
    border-radius: 20px 20px 0 20px;
    border : none;
    background-color: var(--darkblue);
    border: solid 3px var(--darkblue);
    color: var(--white);
    font-size: 1.2em;
    font-weight: 600;
    transition: 0.2s all ease-out;
}
#register-button:hover, #registerRedirect:hover, #registerSubmit:hover{
    cursor: pointer;
    transform: scale(1.05);
}
/* ---------------------------- register block ---------------------------- */
#registerBlock{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 500px;
    background-color: white;
}
#registerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contentAlert{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: red;
}
#registerLastName, #registerFirstName, #registerUsername, #registerEmail, #registerPassword, #registerPasswordConfirmation{
    height: 40px;
    width: 230px;
    margin-bottom: 10px;
    padding: 0 10px;
    background-color: var(--light-gray);
    border-radius: 20px;
    border: none;
}
#registerSubmit{
    margin-bottom: 20px;
    transform: scale(0.90);
}
#registerSubmit:hover{
    transform: scale(0.95);
}
/* ---------------------------- Login block ---------------------------- */
#loginBlock{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 500px;
    background-color: white;
    opacity: 1;
}
#loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#usernameOrEmailLogin, #loginPassword{
    height: 40px;
    width: 230px;
    margin-bottom: 10px;
    padding: 0 10px;
    background-color: var(--light-gray);
    border-radius: 20px;
    border: none;
}
#usernameOrEmailLogin:focus, #loginPassword:focus{
    outline: none
}
#login{
    margin-bottom: 20px;
    transform: scale(0.90);
}
#login:hover{
    transform: scale(0.95);
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}