.question-viewer__answers {
  margin-top: 20px;
  width: 90%;
  padding: 10px;
}

.question-viewer__answers__answer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 30px;
  width: 95%;
  height: auto;
  background-color: var(--white);
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}

.question-viewer__answers__answer__author {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}

.question-viewer__answers__answer__description {
  display: flex;
  width: 90%;
  height: auto;
  font-size: 17px;
  margin-bottom: 10px;
  color: rgb(61, 61, 61);
}

.question-viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 20px;
  animation: FadeIn 0.5s;
}

.question-viewer__question {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 40px;
  padding-top: 25px;
  width: 90%;
  height: auto;
  background-color: var(--white);
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}

.question-viewer__question__title {
  font-size: 35px;
  width: auto;
  height: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}

.question-viewer__question__description {
  font-size: 17px;
  color: rgb(61, 61, 61);
  margin-bottom: 20px;
}

.question-viewer__answers__answer__content {
  width: 95%;
  height: auto;
}

#votre_reponse {
  font-size: 25px;
  font-weight: bold;
}

.question-viewer__response-input {
  display: flex;
  width: 90%;
  height: 400px;
  margin-bottom: 30px;
  background-color: beige;
  justify-content: top;
  flex-direction: column;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  animation: FadeIn 2s;
  align-items: center;
}

.creator_and_date_container_answers {
  display: flex;
  height: 40px;
  flex-direction: row;
  justify-content: space-between;
  color: var(--gray);
  font-size: 13px;
  width: 95%;
}

#response_description, #question_title {
  display: flex;
  padding: 12px;
  width: 90%;
  height: 20px;
  resize: none;
  margin-top: 15px;
  border-radius: 15px;
  background-color: rgb(245, 245, 245);
  border: 2px solid #e0e0e0;
}
.vote-burger-menu {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: rgb(234, 234, 234);
  border-radius: 50%;
  cursor: pointer;
}

.buttons_container{
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.vote-burger-menu .bar {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 3px 0;
  transition: all 0.3s ease;
}

.vote-options {
 /*  display: none; */
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: white;
  border-radius: 5px;
  z-index: 1000;
}

.vote-options .option {
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.vote-options .option:hover {
  background-color: rgb(245, 245, 245);
}

#response_content, #question_description, #question_content {
  width: 90%;
  height: 100px;
  padding: 12px;
  resize: none;
  margin-top: 15px;
  border-radius: 15px;
  background-color: rgb(245, 245, 245);
  border: 2px solid #e0e0e0;
}

#response_submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 20px;
  padding: 12px;
  margin-top: 15px;
  background-color: var(--darkblue);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.3s ease;
}

#response_submit:hover {
  background-color: rgb(245, 245, 245);
  color: black;
}

#error_message_response {
  margin-top: 20px;
  display: none;
  color: red;
  font-size: 16px;
}

.best_answer_container {
  display: none;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 10px;
  height: 40px;
  animation: FadeIn 0.3s;
}

.best_answer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(79, 79, 192);
  color: var(--white);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.best_answer:hover {
  background-color: rgb(245, 245, 245);
  color: var(--darkblue);
}

.best_answer_check {
  position: absolute;
  display: none;
  background: url("/checked");
  background-size: auto;
  background-size: cover;
  width: 115px;
  height: 100px;
  right: 25px;
  top: 0;
}

.areYouSure {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.699);
  z-index: 1000;
  animation: fadeIn 0.3s;
}

.YesOrNo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 350px;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.areYouSureTitle {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}

.areYouSureText {
  font-size: 16px;
  width: 80%;
  margin-top: 10px;
}

.YesNoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  height: 100px;
}

#Yes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: rgb(79, 79, 192);
  color: var(--white);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.3s ease;
}

#Yes:hover {
  background-color: rgb(245, 245, 245);
  color: var(--darkblue);
}

#No {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: rgb(79, 79, 192);
  color: var(--white);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.3s ease;
}

#No:hover {
  background-color: rgb(245, 245, 245);
  color: var(--darkblue);
}

#question_closed {
  display: none;
  width: 90%;
  font-size: 20px;
  font-weight: bolder;
}

.vote_response_container {
  position: absolute;
  right: -60px;
  top: 0px;
  display: flex;
  flex-direction: column;
  width: 5%;
  height: 130px;
  justify-content: center;
  align-items: center;
}

.modify_button{
  border: none;
  width: fit-content;
  max-height: 35px;
  padding: 0 20px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 10px;
  margin: 0 10px;
}

.modify_button_response{
  border: none;
  width: fit-content;
  height: 35px;
  padding: 0 20px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 10px;
  margin: 0 10px;
}

.vote_options{
  display: flex;
  justify-content: center;
}

.modify_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cancel_button_response, .cancel_button{
  height: 40px;
    width: fit-content;
    padding: 0 20px;
    border-radius: 20px 20px 20px 0;
    background-color: var(--white);
    border: solid 3px var(--darkblue);
    font-size: 1.2em;
    font-weight: 600;
    transition: 0.2s all ease-out;
}

.modify_response, .modify_question{
  height: 40px;
    width: 140px;
    border-radius: 20px 20px 0 20px;
    border : none;
    background-color: var(--darkblue);
    border: solid 3px var(--darkblue);
    color: var(--white);
    font-size: 1.2em;
    font-weight: 600;
    transition: 0.2s all ease-out;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries for Phones */
@media (max-width: 600px) {
  .question-viewer__answers {
    width: 100%;
    padding: 5px;
  }

  .question-viewer__answers__answer {
    width: 100%;
    padding: 10px;
  }

  .question-viewer__answers__answer__description {
    width: 100%;
    font-size: 15px;
  }

  .question-viewer__question {
    width: 100%;
    padding: 10px;
  }

  .question-viewer__question__title {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .question-viewer__question__description {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .question-viewer__response-input {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
  }

  #response_description,
  #response_content,
  #question_title,
  #question_description,
  #question_content {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }

  #response_submit {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }

  .YesOrNo {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  .areYouSureText {
    font-size: 14px;
    width: 100%;
  }

  .YesNoContainer {
    width: 100%;
  }

  #Yes,
  #No {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
}
/* Media Queries for Tablets */
@media (max-width: 900px) {
  #menu {
    display: none;
  }
  
  .leftpart {
    flex-basis: 100%;
    justify-content: center;
    padding-left: 0;
  }

  .medal {
    display: none;
  }

  .burger-menu {
    display: flex;
  }

  .question-viewer__question__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .question-viewer__question__description {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .question-viewer__response-input {
    width: 100%;
    height: auto;
    padding: 15px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #response_description,
  #response_content {
    width: 90%;
    margin-top: 15px;
  }

  #response_submit {
    width: 90vw;
    padding: 15px;
    font-size: 15px;
  }

  .YesOrNo {
    width: 80%;
    height: auto;
    padding: 25px;
  }

  .areYouSureText {
    font-size: 15px;
    width: 100%;
  }

  .YesNoContainer {
    width: 100%;
  }

  #Yes,
  #No {
    width: 120px;
    height: 45px;
    font-size: 15px;
  }
  .question-viewer__answers {
    width: 80%;
    padding: 5px;
  }

  .modify_response_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


}

/* Media Queries for Phones */
@media (max-width: 600px) {

  .question-viewer{
    width: 90vw;
  }


  .question-viewer__answers {
    width: 100%;
    padding: 5px;
  }

  .question-viewer__answers__answer {
    width: 100%;
    padding: 10px;
  }

  .question-viewer__answers__answer__description {
    width: 100%;
    font-size: 15px;
  }

  .question-viewer__question {
    width: 100%;
    padding: 10px;
  }

  .question-viewer__question__title {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .question-viewer__question__description {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .question-viewer__response-input {
    width: 80%;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
  }

  #response_description,
  #response_content {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
  }

  #response_submit {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }

  .YesOrNo {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  .areYouSureText {
    font-size: 14px;
    width: 100%;
  }

  .YesNoContainer {
    width: 100%;
  }

  #Yes,
  #No {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }

  .vote_container {
    display: none;
  }

  .vote-burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: rgb(234, 234, 234);
    border-radius: 50%;
    cursor: pointer;
  }

  .vote-burger-menu .bar {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 3px 0;
    transition: all 0.3s ease;
  }

  .vote-options {
    /* display: none; */
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 500;
  }

  .vote-options .option {
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .vote-options .option:hover {
    background-color: rgb(245, 245, 245);
  }

  .creator_and_date_container_answers{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .vote_response_container{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    right: 0;
  }

  .modify_button_response{
    margin-bottom: 20px;
  }

  .upvote_response_container, .downvote_response_container{
    width: 50px;
    height: 25px;
  } 

  .modify_response_container{
    width: 95%;
  }
}
