{{define "question_viewer"}}
<div class="question-viewer">
  <div class="question-viewer__question">
    <div class="question-viewer__question__title">
      {{.Title}}
    </div>
    <div class="question-viewer__question__content">
      {{.Content}}
    </div>
    <div class="question-viewer__question__author">
      {{.Creator}}
      </div>
      <div class="question-viewer__question__date">
        {{.CreationDate.Format "2006-01-02 15:04:05"}}
        </div>
  </div>
  <div class="question-viewer__answers">
    {{range .Responses}}
      <div class="question-viewer__answers__answer">
        <div class="question-viewer__answers__answer__content">
          {{.Content}}
        </div>
        <div class="question-viewer__answers__answer__author">
          {{.StudentName}}
        </div>
        <div class="question-viewer__answers__answer__date">
          {{.CreationDate.Format "2006-01-02 15:04:05"}}
          </div>
      </div>
    {{end}}
  </div>
</div>
{{end}}