{{define "question_viewer"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
    {{template "header" .}}

<div class="question-viewer">
  <div class="question-viewer__question">
    <div class="question-viewer__question__title">{{.Title}}</div>
    <div class="question-viewer__question__content">{{.Content}}</div>
    <div class="question-viewer__question__author">{{.Creator}}</div>
    <div class="question-viewer__question__date">
      {{.CreationDate.Format "2006-01-02 15:04:05"}}
    </div>
  </div>
  <div class="question-viewer__answers">
    {{range .Responses}}
    <div class="question-viewer__answers__answer">
      <div class="question-viewer__answers__answer__content">{{.Content}}</div>
      <div class="question-viewer__answers__answer__author">
        {{.StudentName}}
      </div>
      <div class="question-viewer__answers__answer__date">
        {{.CreationDate.Format "2006-01-02 15:04:05"}}
      </div>
    </div>
    {{end}}
  </div>
  <div id="response_input" class="question-viewer__response-input">
    <input id="question_id" question_id="{{.Id}}" style="display: none;"></input>
    <textarea
      id="response_description"
      placeholder="Write your description here"
    ></textarea>
    <textarea
      id="response_content"
      placeholder="Write your content here"
    ></textarea>
    <button
      id="response_submit"
      class="question-viewer__response-input__submit"
    >
      Submit
    </button>
  </div>
</div>
<script src="/scripts/question_viewer.js"></script>
</body>
{{template "script" .}}
</html>
{{end}}
