
.question-viewer__answers{
    margin-top: 20px;
    width: 90%;
    padding: 10px;
}

.question-viewer__answers__answer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 30px;
    width: 95%;
    height: auto;
    background-color: var(--white);
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
}

.question-viewer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
    animation: FadeIn 0.5s;
}

.question-viewer__question{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 40px;
    padding-top: 25px;
    width: 90%;
    height: auto;
    background-color: var(--white);
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
}

.question-viewer__question__title{
    font-size: 35px;
    width: auto;
    height: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.question-viewer__question__description{
    font-size: 17px;
    color: rgb(61, 61, 61);
    margin-bottom: 20px;
}

#votre_reponse{
    font-size: 25px;
    font-weight: bold;
}

.question-viewer__response-input{
    display: flex;
    width: 90%;
    height: 400px;
    margin-bottom: 30px;
    background-color: beige;
    justify-content: top;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    animation: FadeIn 2s;
}
#response_description{
    display: flex;
    padding: 12px;
    width: 90%;
    height: 20px;
    resize: none;
    margin-top: 15px;
    border-radius: 15px;
    background-color: rgb(245, 245, 245);
    border: 2px solid #e0e0e0;
}
#response_content{
    width: 90%;
    height: 100px;
    padding: 12px;
    resize: none;
    margin-top: 15px;
    border-radius: 15px;
    background-color: rgb(245, 245, 245);
    border: 2px solid #e0e0e0;
}

#response_submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 20px;
    padding: 12px;
    margin-top: 15px;
    background-color: var(--darkblue);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
}

#response_submit:hover{
    background-color: rgb(245, 245, 245);
    color: black;
}
#error_message_response{
    margin-top: 20px;
    display: none;
    color: red;
    font-size: 16px;
    
}

@keyframes FadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}